/*
	CSS style sheet
	Stephanie Yip
*/


/**************** HEX color codes ****************/
:root {
	--gray: #686F71;
	--medium: #86ACB5;
	--dark: #2C3D40;
}
/***************** General ******************/

html, body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-color: white;
}

.container{
	box-sizing: border-box;
	width: 100%;
	margin: auto;
	overflow: hidden;
}

/***** Column layout ******/
.container .col1, .container .col2{
	padding: 5px;
}

.container .center{
	float: none;
	width: 100%;
}

/* Text formatting in nav bar + footer*/
header h1, footer h1{
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 14px;
	word-spacing: 3px;
	
	float:left;
	display: inline-block;
	
	margin: 0;
	padding: 0;
	font-weight: normal;
}

/* Line below the text inside body for decoration */
.line{
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid var(--medium);
	/*min-width: auto;*/
	
}

/**************** Links ****************/

header nav a,
footer a 
{
	word-spacing: 8px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 14px;
	color: white;
	text-decoration: none;
	font-weight: normal;
}

nav a:hover ,
footer a:hover
{
	color: var(--dark);
	font-weight: 500;
}

/**************** Header ****************/
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: var(--medium);
	min-height: 15px;
	padding: 20px;
}

/*Title of site in the nav bar*/
header h1 {
}

/**************** Navigation Bar ****************/
header nav {
}

header nav ul, footer ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}

/* page links in nav bar*/
header nav li, footer li {
	float:left;
	display: inline;
	padding-left: 20px;
	margin: 0;
}

/* Highlight current page in nav */
header nav li.active a {
	color: var(--dark);
	font-weight: 500;
}

/***************** Page Title Block ******************/

.pgTitleBlock .container {
	overflow: visible;

}

/*Page title*/
.pgTitleBlock {
	margin-top: 50px;
	padding-top: 80px;
	padding-bottom: 80px;
	display: block;
	text-align: center;
	background-color: var(--gray);
	/*min-height: 112px;*/
}

.pgTitleBlock h1 {
	color: white;
	font-size: 70px;
	letter-spacing: 20px;
	word-spacing: 20px;
	text-transform: uppercase;
}

/*Page subtitle/ description*/
.pgTitleBlock h2 {
	font-size: 20px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

/*************** About: Bullets ****************/

.bulletContainer{
	padding-top:50px;
	padding-left: 25px;
	padding-right: 25px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;

}

.leftContainer{
	display: flex;
	flex-direction: column;
	margin-right: 20px;
}

.leftText{
	color: var(--medium);
	font-size: 18px;
	text-transform: uppercase;
	word-spacing: 2px;
	letter-spacing: 3px;
	font-weight: 300;
	font-size: 30px;
	line-height: 55px;
	text-align: right;
}

.rightContainer{
	display: flex;
	flex-direction: column;
}

.rightText{
	color: var(--dark);
	font-size: 22px;
	line-height: 55px;
}

/*Line divider between about-bullets and next section*/
#about-bullets .line{
	margin-top: 50px;
	text-align: center;
	width: 88%;
}

/***************** About: Writing ******************/
#about-writing{
	padding-top: 15px;
}

#about-writing h1{
	/*word-spacing: 2px;
	letter-spacing: 3px;*/
	line-height: 30px;
}

#about-writing p {
	margin: 0;
	padding: 0;
}

/*************** Main Content ****************/
.mainContent {
	padding-top: 25px;
	padding-bottom: 75px;
	width: 50%;
}

/** Link Style **/
.mainContent a {
	color: var(--medium);
	text-decoration: none;

}

.mainContent a:hover {
	font-weight: bold;
	letter-spacing: 1px;
}

/* Titles of each individual section on the page*/
.mainContent h1 {
	font-size: 25px;
	color: var(--medium);
	text-align: justify;
	/*letter-spacing: 1px;
	word-spacing: 2px;*/
	margin-bottom: 5px;
	font-weight: 300;
	padding-top: 10px;
}

/* Text inside body of page */
.mainContent p {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 15px;
	font-size: 18px;
	color: var(--dark);
	text-align: left;
	line-height: 35px;
}

/**************** Footer ****************/
footer {
	padding: 20px 20px 30px 20px;
	background: var(--medium);
	left: 0;
	right: 0;
	bottom: 0;
	
}

/*
	CSS for Responsive Design
	Stephanie Yip

*/

/**************** Responsive Home: About Bullets  ****************/
.responsiveContainer{
	text-align: center;
	margin: 0 auto;
}

#responsiveBullets{
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

#responsiveBullets .leftText
{
	text-align: center;
	line-height: 20px;
	padding-bottom: 10px;
	font-size: 20px;
}

#responsiveBullets .rightText
{
	line-height: 18px;
	padding-bottom: 30px;
	font-size: 18px;
}

#responsiveBullets .line{
	width: 80%;
}

/**************** Responsive Footer: Social Media Icons ****************/
.socicon-mail, .socicon-linkedin, .socicon-github{
	color: white;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-top: 15px;
	font-size: 20px;
}

.socicon-mail{
	position: relative;
	top: 2px;
}

.socialMediaIcons{
	text-align: center;
}

.socicon-mail:hover, .socicon-linkedin:hover, .socicon-github:hover {
	color: var(--dark);
}

footer h1 a{
	letter-spacing: 5px;
	word-spacing:3px;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: normal;
}

/**************** Media Queries ****************/
@media all and (max-width:950px) {
	
	#about-bullets{
			display: none;
	}
	
	.socialLinks{
			display: none;
	}
	
	body{
		width: 100%;
		height: 100%;
	}
	
	header,header nav a, header nav li, header ul, header nav ul, nav
	{
		display: inline;
		text-align: center;
		float: none;
		padding-bottom: 5px;
		padding-top: 10px;
	}
	
	header nav li{
		line-height: 20px;
		padding-left: 15px;
	}

	header h1, footer h1
	{
		text-align: center;
		display: block;
		float: none;
	}
	
	header h1{
		font-size: 20px;
		padding-bottom: 10px;
	}
	
	footer h1{
		font-size: 10px;
		padding-bottom: 10px;
		text-align: center;
		line-height: 16px;
	}
	
	footer, footer a, footer li, footer ul
	{
		text-align: center;
		float: none;
		padding-bottom: 5px;
	}
	
	footer li, footer ul{
		display: inline;
		padding-bottom: 5px;
	}
	
	footer{
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
	}
	
	.pgTitleBlock{
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 50px;
	}
	
	.pgTitleBlock h1
	{
		text-align: center;
		font-size: 40px;
	}
	
	.mainContent{
		width: 80%;
		padding-bottom: 25px;
		margin-left: 25px;
		margin-right: 25px;
	}
	
	#about-writing{
		padding-top: 0;
		
	}
	
	#about-writing p, #about-writing h1, .mainContent, .container .mainContent
	{
		display: block;
		float: none;
		width: 100%;
		margin: 0;	
	}
	
	#about-writing p{
		font-size: 16px;
		line-height: 35px;
	}
	
	#about-writing h1{
		font-size: 18px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	
	#about-writing .container
	{
		margin: 0 auto;
	}
	
	.bulletContainer .leftContainer, .bulletContainer .rightContainer
	{
		font-size: 20px;
		line-height: 30px;
	}
	
	#about-writing h1{
		font-size: 20px;
		line-height: 20px;
		margin-bottom: 5px;
	}
	
	#about-writing p{
		font-size: 18px;
		line-height: 30px;
		padding-top: 2px;
		padding-bottom: 20px;
	}
			
}

@media all and (min-width: 850px) and (max-width:1050px) {
		
	.bulletContainer .leftContainer, .bulletContainer .rightContainer
	{
		font-size: 20px;
		line-height: 30px;
	}
	
	#about-writing h1{
		font-size: 20px;
		line-height: 20px;
		margin-bottom: 5px;
	}
	
	#about-writing p{
		font-size: 18px;
		line-height: 30px;
		padding-top: 2px;
		padding-bottom: 20px;
	}

}

@media all and (min-width:950px){
	
	#responsiveBullets {
		display: none;
	}
		
	.socialMediaIcons{
		display: none;
	}
		
}

/*************** Photography ****************/


/*************** Contact ****************/


/**************** Forms ****************/
.twoCol {
	overflow: hidden; 
}

.twoCol .col1,
.twoCol .col2
{
	width: 49%
}

.twoCol .col1 {
	float: left;
}

.twoCol .col2 {
	float: right;
}

.twoCol label {
	display: block;
}

.formText{
	font-size: 18px;
	color: var(--medium);
	letter-spacing: 1px;
	word-spacing: 1px;
	display: inline;
	padding-top: 15px;
	
}

/*Form submit button*/
.center {
	display: block;
	margin: 0 auto;
	width: 20%
}

input[type=text],
input[type=email]
{
	color: var(--dark);
	font-size: 14px;
	border: 1px solid var(--dark);	
	padding: 5px;
	display: inline-block;
	outline: none;
	width: 97%;

	margin-top:5px;
	margin-bottom:15px;
}


.inputBig{
	color: var(--dark);
	font-size: 14px;
	border: 1px solid var(--dark);
	width: 99%;
	height: 50px;
	
	padding: 5px;
	outline: none;
	margin-top:5px;
	margin-bottom:10px;
	margin-left: auto;
	margin-right: auto;
}

input[type=submit]{
	color: white;
	font-size: 16px;
	background-color: var(--medium);
	margin-top:1px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	box-shadow: none;

}

input[type=submit]:hover{
	background-color: var(--dark);

}

textarea {
	resize: vertical;

}


/*
.diagContainer {
	text-align: center;
	display: inline;
}

.diagonal:before{
	content: "";
	position: absolute;
	border-top: 1px solid #86ACB5;
	width: 20px;
	transform: rotate(45deg);
	transform-origin: 0% 0%;
}

.diagonal:after{
	content: "";
	position: absolute;
	border-top: 1px solid #86ACB5;
	width: 20px;
	transform: rotate(135deg);
	transform-origin: 0% 0%;
}*/





