/*
	CSS style sheet
	Stephanie Yip
*/


/******************************* HEX color codes *****************************/
:root {
	--gray: #686F71;
	--medium: #7D9AB0; /*#6086a3; #93afc6; #86ACB5;*/
	--dark: #253542; /*#041d44; #2C3D40;*/
	--light: #88a2b6; /*#c0cee5;*/
	--title: #00447c;
	--lightGray: #858585;

	--medRed: #b41916;
	--darkRed: #681313;
}

/*********************************** General *********************************/

html, body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	background-color: white;
	box-sizing: border-box;
}

body{
	display: flex;
	/*min-height: 100%;*/
	flex-direction: column;
}

.container{
	box-sizing: border-box;
	width: 100%;
	min-height: 100%;
	margin: auto;
	overflow: none;

}

.wrapper{
	min-height: 100%;
}

/***** Column layout ******/
.container .col{
	padding: 5px;
}

/* Text formatting in nav bar + footer*/
header h1, footer h1{
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 14px;
	word-spacing: 3px;

	float:left;
	display: inline-block;

	margin: 0;
	padding: 0;
	font-weight: normal;
}

.menu a:hover, footer a:hover
{
	color: var(--dark);
	font-weight: 500;
}

/* Divider line */
.line{
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid var(--lightGray);
}

/**************** Header ****************/
header {
	position: fixed;
	z-index:2;

	top: 0;
	left: 0;
	right: 0;
	background: var(--medium);
	min-height: 15px;
	padding: 20px;
}

header h1{
	font-weight: 500;
}

/**************** Navigation Bar ****************/
/* Highlight current page in nav */
.menu li.active a{
	color: var(--dark);
	font-weight: 500;
}

.menu ul{
	display: inline-block;
	float: right;
}

.menu li{
	float: left;
}

.menu a{
	word-spacing: 8px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 14px;
	color: white;
	text-decoration: none;
	font-weight: 500;
	margin: 0 10px;
	padding-bottom: 10px;
}

.menu .active, .menu li{
	list-style-type: none;
}

.menu ul{
	margin: 0;
}

/***************** Page Title Block ******************/
#home .pgTitleBlock {
	background-image: url('../img/jumbotron/homeJumbotron.jpg');
	background-position: 0 -350px;
}

#resumeTitle .pgTitleBlock {
		background-image: url('../img/jumbotron/resumeJumbotron.jpg');
		background-position: 0 -300px;
}

#contact .pgTitleBlock {
		background-image: url('../img/jumbotron/contactJumbotron.jpg');
		background-position: 0 -300px;
}

#projectsTitle .pgTitleBlock{
	background-image: url('../img/jumbotron/projectsJumbotron.jpg');
	background-position: 0 -300px;
}

/*
#contact .pgTitleBlock{
		background-image: url('../img/homeJumbotron.jpg');
}
*/


.container .pgTitleBlock {
	overflow: visible;
	position: relative;
}

/*Page title*/
.pgTitleBlock {
	margin-top: 56px;
	padding-top: 150px;
	padding-bottom: 150px;
	display: block;
	text-align: center;
	/*background-color: var(--gray);*/

	background-size: 100% auto; /*cover*/
	background-repeat: no-repeat;
	position: relative;
}

.darkenOverlay{
	top: 0;
	left: 0;
	right: 0;
	padding-top: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.5;
	position: absolute;
}

.pgTitleBlock h1 {
	text-align: center;
	color: white;
	font-size: 70px;
	letter-spacing: 20px;
	word-spacing: 20px;
	text-transform: uppercase;
	text-shadow: 3px 3px var(--medium); /*6086a3*/
	margin: 0;

	position: relative;
	z-index: 1;
}


/*Page subtitle/ description*/
.pgTitleBlock h2 {
	font-size: 20px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

/*************** Main Content ****************/
.mainContent {
	margin: 25px auto auto auto;
	width: 40%;
	padding-bottom: 60px;
	/*overflow: auto;*/
	box-sizing: border-box;
}

/** Link Style **/
.mainContent a {
	color: var(--medium);
	text-decoration: none;
}

.mainContent a:hover {
	font-weight: 600;
}

/* Titles of each individual section on the page*/
.mainContent h1 {
	font-size: 25px;
	color: var(--medium);
	text-align: justify;
	/*letter-spacing: 1px;
	word-spacing: 2px;*/
	margin-top: 20px;
	margin-bottom: 0px;
	font-weight: 400;
	padding-top: 10px;
}

/* Text inside body of page */
.mainContent p {
	margin-top: 10px;
	margin-bottom: 5px;
	padding-bottom: 0px;
	font-size: 18px;
	color: var(--dark);
	text-align: left;
	line-height: 35px;
}

/**************** Footer ****************/
footer {
	padding: 25px 20px 25px 20px;
	background: var(--medium);
	left: 0;
	bottom: 0;
	right: 0;
	/*clear: both;*/
}

footer ul {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
}

footer li {
	float:left;
	display: inline;
	padding-left: 20px;
	margin: 0;
}

footer a
{
	word-spacing: 8px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 14px;
	color: white;
	text-decoration: none;
	font-weight: normal;
}

/*************** About: Bullets ****************/
#about-bullets{
	/*padding-top: 25px;*/
}

.bulletContainer{
	text-align: center;
	margin: 0 auto;
}

.titleText{
	color: var(--medium);
	text-transform: uppercase;
	word-spacing: 2px;
	letter-spacing: 3px;
	font-weight: 500;
	font-size: 30px;
	line-height: 20px;

	margin-top: 25px;
}

.subtitleText{
	color: var(--dark);
	font-size: 22px;
	line-height: 55px;
}

/*Line divider between about-bullets and next section*/
#about-bullets .line{
	margin-top: 50px;
	text-align: center;
	width: 88%;
}

/***************** About: Writing ******************/
#about-writing{
	padding-top: 5px;
}

#about-writing h1{
	/*word-spacing: 2px;
	letter-spacing: 3px;*/
	line-height: 30px;
	margin-bottom: 18px;
}

#about-writing .mainContent{
	padding-top: 10px;
}

#about-writing p{
	margin-top: 0;
	margin-bottom: 15px;
}

/***************** Resume ******************/

#resume ul, #projects ul{
	padding-left: 20px;
	margin-bottom: 0;
	margin-top: 0;
}

#resume li.last-of-type, #projects li.last-of-type{
	padding-bottom: 0;
}

#resume li, #projects ul{
	color: var(--dark);
	padding-bottom: 10px;
	font-size: 18px;
}

#studentOrg ul > ul {
	padding-bottom: 0px;
	margin-bottom: 0;
}

#resume h2, #projects h2 {
	font-size: 18px;
	color: var(--medium);
	font-weight: 500;
	margin-bottom:5px;
	margin-top: 20px;
	/*
	text-transform: uppercase;
	letter-spacing: 1px;*/
}

#resume .links{
	color: var(--dark);
	border-bottom: 1px solid var(--dark);
}

#resume .links:hover, #projects a:hover{
	border-bottom: none;
}

#resume h1, #projects h1{
	color: var(--medium);

	word-spacing: 3px;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	margin-bottom: 20px;
	font-weight: 600;
}

.resumeHeading, #projects h3{
	color: var(--dark);
	font-size: 18px;
	font-weight: 600;
	text-transform: uppercase;
}

.resumeLocation{
	display: inline;
}

.resumeRight{
	float: right;
	font-weight: 600;
}


.resumeContent{
	font-size: 18px;
	color: var(--dark);
	font-weight: normal;
	line-height: 30px;
}

.downloadButton, .githubButton, .projRevealBtn{
	color: white;
	font-size: 16px;
	word-spacing: 2px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: normal;

	background-color: var(--medium);
	/*border: 2px solid var(--medium);*/
	border: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 20px;

	box-sizing: border-box;
	box-shadow: none;

}

.downloadButton:hover, .githubButton:hover{
	background-color: var(--dark);
}

#workExperience ul, #studentOrg ul{
	margin-bottom: 20px;
}

.projectContainer {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	box-sizing: border-box;
}

.projectBox{
	text-align: center;
	box-sizing: border-box;
	/*background-color: var(--gray);*/
	padding-bottom: 8%;
	padding-top: 8%;
	position: absolute;
	border: 3px solid var(--medium);
	flex-wrap: wrap;
	width: 30%;
	margin-bottom: 30px;
	/*box-shadow: 2px 3px var(--gray);*/
}

#projectsSection h2{
	position: relative;
	z-index: 1;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	line-height: 25px;
	word-spacing: 2px;
	margin-left: 10px;
	margin-right: 10px;
}

#projectsSection a{
	text-decoration: none;
}

.projectBox:hover{
	opacity: 0.8;
	/*box-shadow: 0px 0px;*/
}

#sensors, #smartLight, #puppet{
	position: relative;
}

#puppet{
	background: linear-gradient(
										 rgba(20,20,20, .6),
										 rgba(20,20,20, .6)),
										 url('../img/projects/puppet/PuppetProjectFinalPresentation.jpg');

	background-position: 500px  -30px;
}

#sensors{
	background: linear-gradient(
										 rgba(20,20,20, .6),
										 rgba(20,20,20, .6)),
										 url('../img/projects/rainGauge/rainGauge.jpg')
										 no-repeat;
	background-position: center center;
	background-size: 100% auto;
}

#smartLight{
	background: linear-gradient(
										 rgba(20,20,20, .6),
										 rgba(20,20,20, .6)),
										 url('../img/projects/smartLight/smartLightSetup.jpg')
										 no-repeat;
	background-position: center center;
	background-size: contain;
	background-size: auto 100%;

}

#resumeSidebar{
	text-align: right;
	position: fixed;
	top: 430px;
	right: 2%;
	margin-top: 5px;
	width: 15%;
	padding-left: 1%;
	padding-right: 1%;
	display: inline;
	/*background-color: rgb(104,111,113, 0.7);*/
}

#resumeSidebar a{
	color: var(--gray);
	text-decoration: none;
}

#resumeSidebar li{
	opacity: 0.5;
}

#resumeSidebar a li:hover{
	opacity: 1;
}

#resumeSidebar ul{
	display: inline;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	color: var(--gray);
}

/* Prevents the fixed header from cutting off the sections when jumping to them*/
section:target{
	padding-top: 36px;
	margin-top: -36px;
}

.responsiveBackToTop{
	display: block;
	text-align: center;

	font-size: 18px;
	color: var(--medium);
	letter-spacing: 2px;
	text-transform: uppercase;
	font-weight: 600;
	box-sizing: border-box;
}

.responsiveBackToTop .line{
	padding-bottom: 40px;
}

.responsiveBackToTop a:hover{
	padding-bottom: 2px;
	border-bottom: 1px solid var(--medium);
}

/**************** Projects Page ****************/
#projects .line{
	margin-top: 20px;
}


.projRevealBtn{
	display: block;
	margin-top: 15px; /*10px*/
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	background: none;

	border: 2px solid var(--medium);
	text-align: center;
	color: var(--medium);
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	letter-spacing: 2px;
/*
	padding-bottom: 3px;
	padding-left: 0;
	padding-right: 0;*/
}

.projRevealBtn:hover{
	background-color: var(--medium);
	color: white;
	/*border-bottom: 1px solid var(--medium);*/
}

#projects h2{
	text-align: center;
	margin-top: 0;
}

#projects h1{
	margin-bottom: 10px;
	text-align: center;
}

#projects h1 a{
	border-bottom: none;
}

#projects h1 a:hover{
	color: var(--dark);
}

#projects h3{
	margin-bottom: 0;
	padding-top: 10px;
}

#projects a{
	color: var(--medium);
	border-bottom: 1px solid var(--medium);
}

#projects img{
	margin-top: 20px;
}

.githubButton {
	margin-top: 20px;
	margin-bottom: 0;
  margin-left: auto;
	margin-right: auto;
	display: block;
}

#projects figure{
	margin-left: 0;
	margin-right: 0;
	margin-top: 35px;
	margin-bottom: 20px;
}

#projects figure img{
	margin-left: auto;
	margin-right: auto;
	display: block
}

#projects figcaption{
	text-align: center;
	margin-top: 10px;
	color: var(--dark);
}

#projects .descriptionImg{
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 80%;
	height: 300px;
	object-fit: cover;
	border: 3px solid var(--medium);
}

/**************** Photography  ****************/
.photoBox{
	margin-top: 30px;
	width: 30%;
	height: 200px;
	background-color: var(--gray);

}

.photoContainer{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}


/**************** Responsive Resume Sidebar ****************/
.circle{
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background: var(--gray);
	opacity: 0.4;
	margin-bottom: 50px;
}

.circle:hover, a circle:active, a circle:target{
	opacity: 1;
}

#responsiveSidebar{
	text-align: right;
	position: fixed;
	top: 251px;
	right: 4%;
	display: inline;
}


/**************** Desktop Contact Form ****************/
.contactText{
	margin: 25px auto auto auto;
}

.formCredit{
	margin-top: 30px;
	font-size: 12px;
}

.formContainer{
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	flex-direction: row;
	align-items: center;
}

.desktopForm .colLeft{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-right: 10px;
	width: 49%;
}

.desktopForm .colRight{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	margin-right: 0;
	width: 49%;
}

form{
	padding-top: 20px;
	color: var(--medium);
	font-size: 16px;

	word-spacing: 8px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: normal;
	box-sizing: border-box;
}

input[type=text],
input[type=email]
{
	box-sizing: border-box;
	color: var(--dark);
	font-size: 14px;
	border: 1px solid var(--gray);
	padding: 5px;
	outline: none;

	margin-top:5px;
	margin-bottom:20px;
}

input[type=submit]{
	color: white;
	font-size: 16px;
	word-spacing: 8px;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: normal;

	background-color: var(--medium);
	border: none;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	box-shadow: none;
}

input[type=submit]:hover{
	box-sizing: border-box;
	background-color: var(--dark);
}

textarea {
	box-sizing: border-box;
	color: var(--dark);
	font-size: 14px;
	border: 1px solid var(--gray);
	width: 99%;
	height: 100px;

	padding: 5px;
	margin-top:5px;
	margin-bottom:10px;
	margin-left: 3px;
	margin-right: 3px;
	resize: vertical;
}

input:focus, textarea:focus{
	outline: none !important;
	border: 1px solid var(--medium);
	box-shadow: 0 0 10px var(--medium);
}

/**************** Contact Submission Successful page ****************/

.contactSubmit{
	margin: 50px auto auto auto;
	display: block;
	font-size: 30px;
	text-align: center;
	font-weight: 600;
	color: var(--medium);
}

.contactRedirect{
	font-size: 20px;
	font-weight: normal;
}

/**************** Responsive Footer: Social Media Icons ****************/
.socicon-mail, .socicon-linkedin, .socicon-github{
	color: white;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 16px;
}

.socicon-mail{
	position: relative;
	top: 2px;
}

.socialMediaIcons{
	text-align: center;
	margin-top: 5px;
}

.socialMediaIcons h1{
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 18px;
}

.socicon-mail:hover, .socicon-linkedin:hover, .socicon-github:hover {
	color: var(--dark);
}

.fa-envelope:hover, .fa-linkedin:hover, .fa-github:hover{
	color: var(--dark);
}

footer h1 a{
	letter-spacing: 5px;
	word-spacing:3px;
	font-size: 10px;
	text-transform: uppercase;
	font-weight: normal;
	cursor: pointer;
}

/**************** Responsive Design: Menu ****************/
label{
	text-align: right;
	color: white;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: normal;
	display: none;

	line-height: 12px;
	font-size: 16px;

	/*
	For text MENU label:
	line-height: 14px;
	font-size: 14px;
	*/

}

label:active{
	cursor: pointer;
	color: var(--dark);
}

#responsiveMenu {
	display: none;
	margin: 0;
}

.menuDivider{
	border-bottom: 1px solid white;
	padding-top: 20px;
}


/**************** Media Queries ****************/

/*** Tablet + Phone ***/
@media all and (max-width:900px){

	.socialLinks{
		display: none;
	}

	.desktopForm{
		display: none;
	}

	body{
		width: 100%;
		height: 100%;
	}

/*Header*/
header{
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

header h1{
	float: left;
	word-spacing: 0px;
	font-size: 12px;
}

label{
	display: block;
	cursor: pointer;
	width: 30px;
	float: right;
}

/*Menu*/
.menu{
	text-align: center;
	display: none;
}

.menu a{
	clear: right;
	display: block;
	margin: 0 0;
	font-size: 12px;
	padding-bottom: 0;
	/*text-shadow: 1px 1px var(--dark);*/
}

.menu a:hover{
	color: var(--dark);
	font-weight: 600;
	cursor: pointer;
	text-shadow: none;
}

.menu li.active a{
	color: var(--dark);
	font-weight: 600;
	text-shadow: none;
}

.menu ul{
	line-height: 12px;
	display: block;
	margin-top: 25px;
	padding-top: 15px;
	padding-left: 30px;
	padding-bottom: 20px;
	padding-right: 30px;

	background-color: rgba(125,154,176, 0.9);
	position: absolute;
	right: 0;
;}

.menu li{
	float: none;
	padding-bottom: 15px;
}

.menu li:last-of-type{
	padding-bottom: 0;
}

#responsiveMenu:checked + .menu{
	display: block;
}

#responsiveMenu:checked + header{
	padding-bottom: 0;
}

/*Footer*/
footer{
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer h1 {
		text-align: center;
		display: block;
		float: none;
		font-size: 10px;
		padding-bottom: 10px;
		line-height: 16px;
}

	footer, footer a, footer li, footer ul
	{
		text-align: center;
		float: none;
		padding-bottom: 5px;
	}

	footer li, footer ul{
		display: inline;
		padding-bottom: 5px;
	}

/*Jumbotron*/
	.pgTitleBlock{
		margin-top: 34px;
		background-position: center;

		padding-top: 90px;
		padding-bottom: 90px;

	}

	.pgTitleBlock h1
	{
		margin: 0 auto 0 auto;
		font-size: 40px;
		text-shadow: 2px 2px var(--medium);
		letter-spacing: 15px;
		word-spacing: 0;
		padding-left: 20px;
		padding-right: 20px;
	}

	#home .pgTitleBlock, #resumeTitle .pgTitleBlock, #contact .pgTitleBlock,
	#projectsTitle .pgTitleBlock, #photographyTitle .pgTitleBlock{
		background-position: center;
	}

	#projectsTitle .pgTitleBlock h1{
		padding-right: 10px;
		padding-left: 20px;
	}

/*About: Bullets */
#about-bullets{
	padding-top: 10px;
	width: 100%;
	margin: auto;
}

.titleText
{
	text-align: center;
	line-height: 20px;
	font-size: 20px;
	padding-bottom: 5px;
	margin-top: 0;
}

.subtitleText
{
	line-height: 25px;
	padding-bottom: 25px;
	font-size: 18px;
}

#about-bullets .line{
	width: 100%;
	padding-top: 0;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*Main Content*/
	.mainContent{
		width: 80%;
	}

	.mainContent p{
		font-size: 16px;
		line-height: 25px;
		padding-bottom: 10px;
	}

	.mainContent h1{
		font-size: 18px;
		padding-bottom: 5px;
		line-height: 20px;
	}

/*About: Writing*/
	#about-writing{
		padding-top: 0;
	}

	#about-writing p, #about-writing h1
	{
		display: block;
		float: none;
		width: 100%;
		margin: 0;
	}

	#about-writing .container
	{
		margin: 0 auto;
	}

	/* Contact Form*/
	.contactText{
		/*padding-top: 40px;*/
		padding-bottom: 40px;
	}

	input[type=text],
	input[type=email]
	{
		box-sizing: border-box;
		color: var(--dark);
		font-size: 14px;
		border: 1px solid var(--gray);
		padding: 5px;
		display: inline-block;
		outline: none;
		width: 99%;

		margin-top:5px;
		margin-bottom:25px;
		margin-left: 3px;
	}

	textarea {
		box-sizing: border-box;
		color: var(--dark);
		font-size: 14px;
		border: 1px solid var(--gray);
		height: 80px;
		width: 99%;

		padding: 5px;
		margin-top:5px;
		margin-bottom:10px;
		margin-left: 3px;
		resize: vertical;
	}

	/*Resume*/
	.resumeLocation{
		display: block;
	}

	#studentOrg h2{
		padding-bottom: 10px;
	}

	#resume ul{
		margin-bottom: 10px;
	}

	#puppet{
		background-position: 600px 0px;
	}

	#sensors{
		background-position: 0px 0px;
	}

	#resumeSidebar{
		display: none;
	}

	#resume h1 {
		font-size: 18px;
	}

	.resumeContent, #resume ul, #resume li, .resumeLocation, .resumeRight{
		font-size: 16px;
	}

	#resume #workExperience li, #resume #studentOrg li{
		padding-bottom: 0;
	}

	#resume #techSkills h2{
		margin-top: 10px;
	}

	/*Projects*/
	#projects figure{
		margin-top: 10px;
  }

}


@media all and (max-width:900px) and (min-height: 1000px){
	.menu ul{
		margin-top: 22px;
	}
}

/* Update text and padding size */
@media all and (min-width: 900px) and (max-width:1280px) {

	.bulletContainer .leftContainer, .bulletContainer .rightContainer
	{
		font-size: 20px;
		line-height: 30px;
	}

	#about-writing h1{
		font-size: 20px;
		line-height: 20px;
		margin-bottom: 5px;
	}

	#about-writing p{
		font-size: 18px;
		line-height: 30px;
		padding-top: 2px;
	}

	#home .pgTitleBlock, #resumeTitle .pgTitleBlock, #contact .pgTitleBlock,
	#projectsTitle .pgTitleBlock, #photographyTitle .pgTitleBlock{
		margin-top:35px;
		background-position: center;
	}

	header{
		font-size: 14px;
		padding: 10px;
		padding-left: 25px;
		padding-right: 25px;
	}

	.mainContent{
		width: 60%;
	}

	footer{
		padding: 10px 25px 10px 25px;
	}

}

/*Update position of background image on Home*/
@media all and (min-width: 1050px) and (max-width:1360px) {

	#resumeTitle .pgTitleBlock, #home .pgTitleBlock, #contact .pgTitleBlock,
	#projectsTitle .pgTitleBlock, #photographyTitle .pgTitleBlock{
		background-position: 0 -150px;
	}
}

/*Change Projects section of Resume to column + Photography section to column*/
@media all and (max-width:700px) {
	/*Resume: projects*/
	.projectContainer{
		flex-direction: column;
		align-items: center;
		align-content: space-between;
		justify-content: center;
	}

	.projectBox{
		width: 100%;
		margin-bottom: 20px;
		align-content: center;
		padding-top: 20%;
		padding-bottom: 20%;
	}

	#projectsSection h2{
		margin-top: 0;
		margin-bottom: 0;
	}

	#smartLight{
		background-size: 100% auto;
		background-position: 0px -30px;
	}

	#sensors{
	background-position: 0px -350px;
	}

	.projectBox #puppet{
		padding-top: 10%;
		padding-bottom: 10%;
	}

	/*Photography*/

	.photoContainer{
		flex-direction: column;
		align-items: center;
		align-content: space-between;
		justify-content: center;
	}

	.photoBox{
		width: 100%;
		align-content: center;
	}

}/*End media query*/

/*Update position of rain gauge photo in Resume: Projects + decrease size of
h1 in Photography jumbotron*/
@media all and (max-width:500px){
	#sensors{
	background-position: 0px -180px;
	}

	#photographyTitle .pgTitleBlock h1{
		font-size: 30px;
		letter-spacing: 10px;
	}


}

/*Phone*/
@media all and (max-width:450px){
	.pgTitleBlock{
		padding-top: 70px;
		padding-bottom: 70px;
	}
}


/*Update formatting of Resume*/
@media all and (max-width:1800px){
	.resumeRight{
		float: none;
		display: block;
	}
}

@media all and (min-width:900px){
	.socialMediaIcons{
		display: none;
	}

	.responsiveMenu{
		display: none;
	}

	.responsiveForm{
		display: none;
	}

	#responsiveSidebar{
		display: none;
	}

	.responsiveBackToTop{
		display:none;
	}

}
