---
title: Résumé
permalink: /resume/
layout: resume_page
jumbotron: jumbotron-resume
---

<!-- Resume PDF button -->
<a href = "{{ site.url }}/Stephanie_Yip_Resume_July2018.pdf" class = "resume-btn">See PDF Version</a>
<div class = "line resume-line"></div>

<div class = "resume-container">
  <!-- Main Resume Content -->
  <main class = "resume-content">
    {% include resume_education.html %}
    <div class = "line"></div>
    {% include resume_skills.html %}
    <div class = "line"></div>
    {% include resume_work.html %}
    <div class = "line"></div>
    {% include resume_projects.html %}
    <div class = "line"></div>
    {% include resume_student_involvement.html %}
  </main>

  <!-- Sidebar Navigation -->
  <aside class = "resume-sidebar">
    <ul>
      <li><a href = "#education" id = "nav-edu">Education</a></li>
      <li><a href = "#skills" id = "nav-skills">Skills</a></li>
      <li><a href = "#work" id = "nav-work">Work Experience</a></li>
      <li><a href = "#projects" id = "nav-proj">Featured Projects</a></li>
      <li><a href = "#student-involvement" id = 'nav-involvement'>Student Involvement</a></li>
      <li><a href = "header">Back to Top <i class="fas fa-arrow-up"></i></a></li>
    </ul>
  </aside>

</div>

<!-- Mobile back to top button -->
<div class = "line resume-line"></div>
<a href = "header" class = "resume-btn" id = "resume-back-to-top">Back to Top <i class="fas fa-arrow-up"></i></a>
