/*
	CSS style sheet
	Stephanie Yip


*/

/**************** HEX color codes****************/
:root {
	--gray: #686F71;
	--medium: #86ACB5;
	--dark: #2C3D40;

}

/***************** HTML, Body ******************/

html {
	font-family: helvetica;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/***************** Text Formatting ******************/

/* Titles of each individual section on the page*/
h3 {
	font-size: 25px;
	color: var(--medium);
	text-align: justify;
	letter-spacing: 1px;
	word-spacing: 2px;
	margin-bottom: 5px;
	font-weight: 500;
}


/* Links in navigation bar + footer */
.outerLinks{
	word-spacing: 8px;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 12px;
}

/* Non-links in nav bar + footer*/
.outerText{
	color: white;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 12px;
}

/* Text inside body of page */
.insideText {
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 18px;
	color: var(--dark);
	text-align: left;
	line-height: 35px;
}


/* Goes below the text inside body for decoration */
.line{
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid var(--medium);
	/*min-width: auto;*/
	
}

/*
.diagContainer {
	text-align: center;
	display: inline;
}

.diagonal:before{
	content: "";
	position: absolute;
	border-top: 1px solid #86ACB5;
	width: 20px;
	transform: rotate(45deg);
	transform-origin: 0% 0%;
}

.diagonal:after{
	content: "";
	position: absolute;
	border-top: 1px solid #86ACB5;
	width: 20px;
	transform: rotate(135deg);
	transform-origin: 0% 0%;
}*/


/**************** Navigation Bar ****************/
.nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: var(--medium);

}

.nav ul {
	list-style-type: none;
	padding-right: 20px;
	float: right;
}

.nav li {
	display: inline;
}

li.active a {
	color: var(--dark);
	font-weight: 500px;
}

.nav .outerText{
	padding-left: 20px;
	margin-top: 12px;
	float:left;
}


/**************** Header ****************/
/*Includes title + description */

.header {
	padding-top: 100px;
	padding-bottom: 100px;
	display: block;
	text-align: center;
	background-color: var(--gray);
	color: white;
	height: 116px;
}

.header h1 {
	font-size: 50px;
	letter-spacing: 15px;
	text-transform: uppercase;
}

.header h2 {
	font-size: 20px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

/*************** Main Content ****************/
.mainContent {
	margin: 0 auto;
	
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 50px;
	padding-bottom: 100px;
	max-width: 50%
}

/** Link Style **/
.insideText a {
	color: var(--medium);
	text-decoration: none;

}

.insideText a:hover {
	font-weight: bold;
	letter-spacing: 1px;
}

/*************** About ****************/
.bullets{
	padding-bottom: 50px;

	padding-left: 0;
	padding-right: 0;
	margin-right: -20px;
	margin-left: -20;
}

#about .mainContent{
	padding-top: 25px;

}


#about .line{
	margin-top: 30px;
	text-align: center;
	width: 88%;
}

#about h3{
	text-align: center;
	word-spacing: 2px;
	letter-spacing: 3px;
	line-height: 60px;
}

/** List Style **/
#about .twoCol ul {
	list-style-type: none;
	margin-top: 5px;
	margin-bottom: 30px;
	font-size: 18px;
	color: var(--dark);
	text-align: left;
	line-height: 40px;
	padding-left: 0px;
}

#about .twoCol {
	margin: 0 auto;
	width: 100%;
	padding-top:50px;
}

#about .twoCol .col1{
	width: 45%;
}

#about .twoCol .col2{
	width: 53%;
}

#about .twoCol .col2 li {
	color: var(--dark);
	font-size: 22px;
	line-height: 60px;
}

#about .twoCol .col1 .labelText{
	color: var(--medium);
	padding-right: 5px;
	text-transform: uppercase;
	word-spacing: 2px;
	letter-spacing: 3px;
	float: right;
	clear: both;
	font-weight: 300;
	font-size: 30px;
	line-height: 60px;
}

/*************** Photography ****************/


/*************** Contact ****************/



/**************** Footer ****************/
#footer {
	background: var(--medium);
	padding: 30px 20px 30px 20px;
	left: 0;
	right: 0;
	bottom: 0;
	
}

.contactLinks {
	display: inline;
	float: right;
}

/**************** Links ****************/
.nav a,
.contactLinks a 
{
	color: white;
	text-decoration: none;
}

.nav a:hover ,
.contactLinks a:hover
{
	color: var(--dark);
}


/**************** Forms ****************/
.twoCol {
	overflow: hidden; 
}

.twoCol .col1,
.twoCol .col2
{
	width: 49%
}

.twoCol .col1 {
	float: left;
}

.twoCol .col2 {
	float: right;
}

.twoCol label {
	display: block;
}

.formText{
	font-size: 18px;
	color: var(--medium);
	letter-spacing: 1px;
	word-spacing: 1px;
	display: inline;
	padding-top: 15px;
	
}

/*Form submit button*/
.center {
	display: block;
	margin: 0 auto;
	width: 20%
}

input[type=text],
input[type=email]
{
	color: var(--dark);
	font-size: 14px;
	border: 1px solid var(--dark);	
	padding: 5px;
	display: inline-block;
	outline: none;
	width: 97%;

	margin-top:5px;
	margin-bottom:15px;
}


.inputBig{
	color: var(--dark);
	font-size: 14px;
	border: 1px solid var(--dark);
	width: 99%;
	height: 50px;
	
	padding: 5px;
	outline: none;
	margin-top:5px;
	margin-bottom:10px;
	margin-left: auto;
	margin-right: auto;
}

input[type=submit]{
	color: white;
	font-size: 16px;
	background-color: var(--medium);
	margin-top:1px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	box-shadow: none;

}

input[type=submit]:hover{
	background-color: var(--dark);

}

textarea {
	resize: vertical;

}






