%outer-text {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  display: inline;
}

%link-hover {
  color: $accent;
  text-shadow: 0 3px $lightGray;
}

// Header
.icon-nav{
  display: none;
}

header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color: $medium;
  box-shadow: 0 2px 5px $grayOpacity;

  h1 {
    @extend %outer-text;
    font-weight: 700;
    word-spacing: 5px;
    float: left;
    padding: 15px 15px 15px 20px;
  }
}

nav {
  ul {
    padding: 15px 20px 15px 15px;
    float: right;
  }

  li {
    display: inline;
    padding-left: 20px;
    font-size: 14px;

    &:first-child{
      padding-left: 0;
    }

    a {
      @extend %outer-text;

      &:hover {
        @extend %link-hover;
      }

    }

  }

  .active {
    color: $accent;
  }

}

#menuIcon:hover {
  cursor: pointer;
}

#icon-nav-links {
  @extend %outer-text;
  border-top: 1px solid $accent;
  box-shadow: 0 2px 5px $grayOpacity;
  background-color: $mediumOpacity;
  position: absolute;
  right: 0;
  z-index: 2;
  top: 46px;
  text-align: center;
  width: 100%;
  display: none;

  ul {
    padding: 15px 20px 15px 20px;
  }

  li {
    padding: 30px 0 0 0;

    &:first-child {
      padding: 20px 0 0 0;
    }

    &:last-child {
      padding: 30px 0 20px 0;
    }
  }

  a {
    color: white;
    text-decoration: none;
    text-shadow: 0 2px $lightGray;

    &:hover {
      @extend %link-hover;
    }
  }
}

// Footer
.socialIcons{
  display: none;
}

footer {
  padding: 15px 20px 15px 20px;
  background: $medium;
  left: 0;
  bottom: 0;
  right: 0;

  h1 {
    @extend %outer-text;
    font-weight: 100;
    float: left;
    padding-right: 15px;
  }

  ul {
    float: right;
  }

  li {
    display: inline;
    padding-left: 20px;
    font-size: 14px;

    &:first-child{
      padding-left: 0;
    }

    a {
      @extend %outer-text;

      &:hover{
        @extend %link-hover;
      }
    }
  }
}
