.social-icons{
  display: none;
}

footer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  padding: 15px 20px 15px 20px;
  background: $medium;
  left: 0;
  bottom: 0;
  right: 0;

  h1 {
    @extend %outer-text;
    font-weight: 100;
    padding-right: 15px;
    text-align: left;
    grid-row: 1;
    grid-column: 1;
  }

  li {
    display: inline;
    padding-left: 20px;
    font-size: 14px;

    &:first-child{
      padding-left: 0;
    }

    a {
      @extend %outer-text;

      &:hover{
        @extend %link-hover;
      }
    }
  }
}

.social-links {
  text-align: right;
  grid-row: 1;
  grid-column: 2;
}
