// Variables
$gray: #686F71;
$medium: #7D9AB0;
$dark: #253542;
$accent: #BE6E46; //#DF9A57

// Navigation Bar
nav .li .active{

}

// Jumbotron
.jumbotron{

}

.darkenOverlay{

}

// Main Content

// Footer
