// Colors
$gray: #686F71;
$lightGray: #858585;
$grayOpacity: rgba(133,133,133, 0.3);
$medium: #7D9AB0;
$mediumOpacity: rgba(125,154,176, 0.9);
$dark: #253542;
$accent: #edc59e; //#CC8B86; //#DF9A57;
$darkAccent: #e4ab74;

$titleSize: 20px;
$copySize: 16px;
$main-fonts: 'Raleway', Helvetica, Arial, sans-serif;

html, body {
  font-family: $main-fonts;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: white;
}

body {
  display: flex;
  flex-direction: column;
}

::selection {
  color: $dark;
  background: $accent;
}

.container{
  box-sizing: border-box;
  width: 60%;
  margin: auto;
  padding: 60px 0 60px 0;
  line-height: 22px;

  h1 {
    margin-bottom: 15px;
    color: $darkAccent;
    font-size: $titleSize;
    font-weight: 700;
    letter-spacing: 2px;
  }

  p {
    margin-bottom: 15px;
    color: $dark;
    font-size: $copySize
  }
}

.line {
  border-top: 1px solid $grayOpacity;
}

.highlight {
  font-weight: 700;
}
