.about-bullets {
  text-align: center;

  .line {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}

.beginText {
  display: block;
  color: $medium;
  // text-shadow: 0 2px $grayOpacity;
  text-transform: uppercase;
	word-spacing: 2px;
	letter-spacing: 3px;
	font-size: 30px;
  margin-bottom: 8px;
}

.endText {
  display: block;
  color: $dark;
  font-size: 20px;
  margin-bottom: 28px;
  line-height: 30px;
}

.endText:last-of-type{
  margin-bottom: 0;
}
