// Center text in header
@media all and (max-width:810px){

  header {
    text-align: center;
    padding-top: 15px;

    h1 {
    float: none;
    padding: 15px 0 0 0;
    }
  }

  nav {
    ul {
      float: none;
    }
  }

  .container {
    padding: 40px 0 40px 0;
  }

}

// Center text in footer
@media all and (max-width: 685px){

  .container {
    width: 80%;
  }

  footer{
    text-align: center;

    h1 {
      float: none;
      padding-right: 0;
    }

    ul {
      float: none;
      padding-top: 15px;
    }
  }

}

// Update footer to icons + update nav bar to hamburger menu
@media all and (max-width: 615px){

  // Footer
  .socialIcons {
    display: block;
  }

  .socialLinks{
    display: none;
  }

  footer ul {
    padding-top: 0;
    padding-bottom: 15px;

    li a {
      font-size: 20px;
      line-height: 14px;
    }
  }

  // Header
  .textNav {
    display: none;
  }

  .icon-nav{
    display: inline-block;
    float: right;
    color: white;
  }

  .icon-nav-active {
    color: $accent;
    text-shadow: 0 3px $lightGray;
  }

  #menuIcon{
    float: right;
  }

  header {
    padding: 15px 20px 15px 20px;
    text-align: left;
    display: inline;
    position: fixed;

    h1 {
      float: left;
      padding-top: 0;
    }

  }

}

// Change size of jumbotron + text
@media all and (max-width: 560px ){

  .jumbotron{
    padding-top: 80px;
    padding-bottom: 80px;

    h1 {
      font-size: 40px;
      letter-spacing: 15px;
    }

  }

  #jumbotron-photography h1 {
    font-size: 30px;
    letter-spacing: 10px;
    line-height: 40px;
  }

}
