<section id = "about" class = "section">
  <h1>About</h1>

  <p>
  I graduated in 2017 with a B.S. in Electrical and Computer Engineering from Seattle University.
  My previous work experience has been the aerospace industry as an embedded software engineer.
  </p>
  
  <p>
  The area that fascinates me the most is the integration
  of hardware and software. I'm especially interested in projects that involve software
  interacting with the physical world, such as in embedded devices and the internet of things. 
  </p>

  <p>
  That being said, I enjoy all things software and tech-related, and I have a passion for learning new things. 
  Currently, I am teaching myself web development.
  </p>

  <p>
  Besides programming, I like creative writing, photography, wandering around parks, and reading fiction books.
  </p>
</section>