<footer>

  <h1>Website by Stephanie Yip 2018</h1>

  <!-- Mobile Version -->
  <div class = "social-icons">
    <ul>
      {% for item in site.data.social %}
      <li><a href = "{{ item.link }}" target = "_blank">
        <i class = "{{ item.icon }}" title = "{{ item.name }}"></i>
      </a></li>
      {% endfor %}
    </ul>
  </div>

  <!-- Desktop Version  -->
  <div class = "social-links">
    <ul>
      {% for item in site.data.social %}
      <li><a href = "{{ item.link }}" target = "_blank">{{ item.name }}</a></li>
      {% endfor %}
    </ul>
  </div>

</footer>
