<header>
  <h1 class = "hide-name">Stephanie Yip</h1>
  <nav>

    <div class = "icon-nav">
      <i class="fas fa-bars" id = "menu-icon"></i>
    </div>

    <div class = "text-nav">
      <ul>{% for item in site.data.nav %}
        <li><a href = "{{ item.link }}" id = "text-nav-{{ item.name }}">{{ item.name }}</a></li>
        {% endfor %}</ul>
    </div>

    <div class = "icon-nav-links">
      <ul>{% for item in site.data.nav %}
        <li><a href = "{{ item.link }}" id = "nav-{{ item.name }}">{{ item.name }}</a></li>
        {% endfor %}</ul>
    </div>
  </nav>

</header>
