<section id = "projects">
  <h1>Projects</h1>

  <div class = "proj-container">
    {% for proj in site.data.projects %}
        <div class = "proj-block">
          <div class = "proj-title">{{ proj.title }}</div>
          <div class = "proj-subtitle">{{ proj.subtitle }}</div>
          <a href = "/projects/{{ proj.link }}" class = "btn">Details <i class="fas fa-arrow-right"></i></a>
          <img class = "proj-img" alt = "{{ proj.alt }}" src = "{{site.url}}/assets/img/projects/{{ proj.img }}"/>
          <div class = "proj-tech">
          {% for tech in proj.tech %}
            <div class = "proj-tech-single">{{ tech.item }}</div>
          {% endfor %}
          </div>
        </div>
    {% endfor %}
  </div>
<!-- {% if forloop.last == false %}, {% endif %} -->
</section>