.contact-form form {
  @extend %title-text;
  padding-top: 20px;
  color: $medium;
  text-transform: uppercase;
}

input[type=text],
input[type=email],
textarea {
  box-sizing: border-box;
  color: $dark;
  border: 1px solid $lightGray;
  padding: 5px;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=submit] {
  @extend %title-text;
  @extend %btn;
  font-family: $main-fonts;
  text-transform: uppercase;

  &:hover {
    @extend %btn-hover;
  }
}

input:focus,
textarea:focus {
  outline: none !important;
  border: 1px solid $darkAccent;
  box-shadow: 0 0 5px $darkAccent;
}

.form-grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  grid-gap: 15px;
}

.form-name {
  grid-row: 1;
  grid-column: 1;

  input {
    margin-top: 5px;
    width: 100%;
  }
}

.form-email {
  grid-row: 1;
  grid-column: 2;

  input {
    margin-top: 5px;
    width: 100%;
  }
}

.form-msg {
  grid-row: 2;
  grid-column: 1 / span 2;

  textarea {
    margin-top: 5px;
    width: 100%;
    height: 200px;
  }
}

.form-submit {
  grid-row: 3;
  grid-column: 1 / span 2;
  margin: auto;
}
