 footer {
  padding: 15px 20px 15px 20px;
  background: $medium;
  left: 0;
  bottom: 0;
  right: 0;
  flex-shrink: 0;

  h1 {
    @extend %outer-text;
    text-align: center;
    display: block;
  }
}