// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------
$gray: #686F71;
$lightGray: #818080;
$grayOpacity: rgba(48, 48, 48, 0.3);
$medium: #283a5f;
$mediumOpacity: rgba(40,58,95, 0.95);
$mediumLine: rgba(228,171,116, 0.5);
$dark: #3a3939;
$accent: #ebbf94;
$darkAccent: #e4ab74;

// ----------------------------------------------------------------------------
// Fonts
// ----------------------------------------------------------------------------
$titleSize: 25px;
$copySize: 16px;
$main-fonts: 'Raleway', Helvetica, Arial, sans-serif;

// ----------------------------------------------------------------------------
// Media Queries
// ----------------------------------------------------------------------------
$tablet-width: 825px;
$mobile-width: 615px;

// ----------------------------------------------------------------------------
// Mix-ins
// ----------------------------------------------------------------------------
%link-hover {
  color: $accent;
  transition: color 0.2s;
}

// Text in header + footer
%outer-text {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
}

// Used for titles
%title-text {
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 700;
}

// ----------------------------------------------------------------------------
html, body {
  font-family: $main-fonts;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: white;
}

body {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

::selection {
  color: $dark;
  background: $accent;
}

i {
  font-style: italic;
}

section {
  padding-top: 100px;
}

section:last-of-type {
  padding-bottom: 100px;
}

.container {
  box-sizing: border-box;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  line-height: 22px;
  flex: 1 0 auto;

  h1 {
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 700;
    margin-bottom: 25px;
    color: $medium;
    font-size: $titleSize;
    line-height: 30px;
    background-image: linear-gradient(transparent 70%, $mediumLine 30%);
  }

  p {
    margin-bottom: 15px;
    color: $dark;
    font-size: $copySize
  }

  p + h1 {
    margin-top: 30px;
  }

  a {
    color: $medium;
    text-decoration: none;
    font-weight: 700;
    padding-bottom: 1px;
    transition: color 0.2s, border-bottom 0.2s;

    &:hover{
      color: $darkAccent;
      border-bottom: 1px solid $darkAccent;
      padding-bottom: 2px;
      transition: color 0.2s, border-bottom 0.2s;
    }
  }

  .btn {
    @extend %title-text;
    color: white !important;
    background: $medium;
    border: none;
    padding: 10px 20px !important;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.2s;
    display: block;
  
    &:hover {
      background: $darkAccent;
      border: none;
      border-bottom: none !important;
      transition: background-color 0.2s;
    }
  }
}

.line {
  border-top: 1px solid $grayOpacity;
}

// Bold
.highlight {
  font-weight: 700;
}

// ----------------------------------------------------------------------------
// Contact section
// ----------------------------------------------------------------------------
.contact-icons {
  display: grid;
  font-size: 30px;
  margin: 0 auto 25px auto;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  a:hover {
    border: none;
    padding: 0;
  }

}

// ----------------------------------------------------------------------------
// 404 page
// ----------------------------------------------------------------------------
.large-centered {
  color: $medium;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 1px;
  word-spacing: 1px;
  text-align: center;
  line-height: 55px;
  background-image: linear-gradient(transparent 70%, $mediumLine 30%);
}

.reg-centered {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}
