// ----------------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------------
$gray: #686F71;
$lightGray: #858585;
$grayOpacity: rgba(133,133,133, 0.3);
$medium: #7D9AB0;
$mediumOpacity: rgba(125,154,176, 0.9);
$dark: #253542;
$accent: #edc59e;
$darkAccent: #e4ab74;

// ----------------------------------------------------------------------------
// Fonts
// ----------------------------------------------------------------------------
$titleSize: 25px;
$copySize: 16px;
$main-fonts: 'Raleway', Helvetica, Arial, sans-serif;

// ----------------------------------------------------------------------------
// Media Queries
// ----------------------------------------------------------------------------
$tablet-width: 810px;
$mobile-width: 615px;

// ----------------------------------------------------------------------------
// Mix-ins
// ----------------------------------------------------------------------------
%link-hover {
  color: $accent;
  text-shadow: 0 3px $lightGray;
}

// Text in header + footer
%outer-text {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 14px;
  display: inline;
}

// Used for titles
%title-text {
  letter-spacing: 2px;
  word-spacing: 2px;
  font-weight: 700;
}

%btn {
  color: white;
  text-shadow: 0 3px $grayOpacity;
  background: $medium;
  border: none;
  padding: 10px;
  box-shadow: 0 3px $grayOpacity;
}

%btn-hover {
  text-shadow: none;
  box-shadow: inset 0 0 5px $grayOpacity;
  background: $darkAccent;
  border: none;
}

// ----------------------------------------------------------------------------
html, body {
  font-family: $main-fonts;
  font-weight: 400;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: white;
}

html {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

::selection {
  color: $dark;
  background: $accent;
}

i {
  font-style: italic;
}

.container {
  box-sizing: border-box;
  width: 60%;
  margin: auto;
  padding: 60px 0 60px 0;
  line-height: 22px;

  h1 {
    letter-spacing: 1px;
    word-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;
    color: $darkAccent;
    font-size: $titleSize;
    line-height: 30px;
  }

  p {
    margin-bottom: 15px;
    color: $dark;
    font-size: $copySize
  }

  p + h1 {
    margin-top: 30px;
  }

  a {
    color: $medium;
    text-decoration: none;
    font-weight: 700;
    padding-bottom: 1px;

    &:hover{
      color: $darkAccent;
      border-bottom: 1px dotted $darkAccent;
      padding-bottom: 1px;
    }
  }
}

.proj-container {
  margin: 40px auto auto auto;
}

.line {
  border-top: 1px solid $grayOpacity;
}

.highlight {
  font-weight: 700;
}

.large-centered {
  color: $darkAccent;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 5px;
  word-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  line-height: 55px;
}

.reg-centered {
  margin-top: 15px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}
