// Show/ hide hamburger icon to access menu
.icon-nav {
  display: none;
  transition: all 1s;
}

header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color: none;
  transition: background-color 0.5s;

  h1 {
    @extend %outer-text;
    word-spacing: 5px;
    float: left;
    padding: 15px 15px 15px 20px;
    
  }
}

// Turn the nav bar opaque when scrolled down
.opaque {
  background-color: $medium;
  box-shadow: 0 1px 10px $grayOpacity;
  transition: background-color 0.5s;
}

// Hide the name when the nav bar is not opaque
.hide-name {
  visibility: hidden;
}

// ---------------------------------------------------------------------------
// Nav Bar
// ---------------------------------------------------------------------------

nav {
  ul {
    padding: 15px 20px 15px 15px;
    float: right;
  }

  li {
    display: inline;
    padding-left: 20px;
    font-size: 14px;
    user-select: none;

    &:first-child{
      padding-left: 0;
    }

    a {
      @extend %outer-text;

      &:hover {
        @extend %link-hover;
      }
    }
  }

  .active {
    @extend %link-hover;
    font-weight: 700;
    transition: all 0.5s;
  }
}

// ---------------------------------------------------------------------------
// Mobile Nav Bar
// ---------------------------------------------------------------------------

#menu-icon:hover {
  cursor: pointer;
}

.icon-nav-active {
  color: $accent;
  transition: all 1s;
}

.icon-nav-links {
  @extend %outer-text;
  transition: opacity 0.4s ease-out, height 0.4s ease-out, visibility 0.4s ease-out 0.4s;
  border-top: 1px solid $accent;
  background-color: $mediumOpacity;
  position: absolute;
  right: 0;
  z-index: 2;
  top: 46px;
  text-align: center;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  
  ul {
    padding: 15px 20px 15px 20px;
  }

  li {
    padding: 30px 0 0 0;
    display: block;
    user-select: none;

    &:first-child {
      padding: 20px 0 0 0;
    }

    &:last-child {
      padding: 30px 0 20px 0;
    }
  }

  a {
    color: white;
    text-decoration: none;

    &:hover {
      @extend %link-hover;
    }
  }
}

// Show/ hide links when clicking hamburger icon
.display-icon-menu {
  opacity: 1;
  height: 470%;
  transition: opacity 0.4s ease-out, height 0.4s ease-out;
  visibility: visible;
}