.jumbotron{
  padding: 150px 0;
  background-image: url('../img/jumbotron/homeJumbotron.jpg');
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;

  h1 {
    margin: 0 auto;
    text-align: center;
    color: $darkAccent;
    // text-shadow: 3px 0px white;
    font-size: 70px;
    letter-spacing: 20px;
  	word-spacing: 20px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
  }

  h2 {
    margin: 30px auto 0 auto;
    text-align: center;
    color: white;
    // text-shadow: 1px 1px $darkAccent;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 25px;
    font-weight: 600;
    // text-transform: uppercase;
    position: relative;
    z-index: 1;

  }
}

.darken-overlay{
  top: 0;
	left: 0;
	right: 0;
	padding-top: 0;
	width: 100%;
	height: 100%;
	background: black;
	opacity: 0.8;
	position: absolute;
}

// #jumbotron-home {
//   background-image: url('../img/jumbotron/homeJumbotron.jpg');
// }

// #jumbotron-resume {
//   background-image: url('../img/jumbotron/resumeJumbotron.jpg');
// }

// #jumbotron-projects {
//   background-image: url('../img/jumbotron/projectsJumbotron.jpg');
// }

// #jumbotron-photography {
//   background-image: url('../img/jumbotron/photographyJumbotron.jpg');
// }

// #jumbotron-contact {
//   background-image: url('../img/jumbotron/contactJumbotron.jpg');
// }
