// ----------------------------------------------------------------------------
// Resume
// ----------------------------------------------------------------------------
@media all and (min-width: 1400px){
  .resume-container {
    margin: 30px 100px 60px auto;
  }
}

// Tablet
@media all and (max-width:$tablet-width){

  .resume-container {
    grid-gap: 0;
    grid-template-columns: 100%;
    margin: 30px auto 30px auto;
  }

  .resume-org {
    margin-bottom: 0px;
  }

  .resume-dates {
    text-align: left;
    grid-column: 1;
  }

}

// Mobile
@media all and (max-width: $mobile-width){
  .resume-list {
    grid-column: 1 / span 2;
  }

}

// ----------------------------------------------------------------------------
// Projects
// ----------------------------------------------------------------------------

// Tablet
@media all and (max-width:$tablet-width){
  .proj-pg-container {
    margin: 80px auto;
  }

  .proj-btn-link-container {
    grid-template-columns: auto;
  }

  .proj-pg-btn-left {
    margin: auto;
  }

  .proj-pg-btn-right {
    grid-column: 1;
    margin: auto auto 30px auto;
  }

  .proj-pg-back-btn, .proj-pg-btn-center {
    width: 70%;
  }

}

// Mobile
@media all and (max-width: $mobile-width){
  .proj-pg-container {
    margin: 60px auto;
  }
}

// ----------------------------------------------------------------------------
// 404 page
// ----------------------------------------------------------------------------

@media all and (max-width: $mobile-width){
  .large-centered {
    margin-top: 30px;
    font-size: 30px;
  }
}
