.resume-container {
  box-sizing: border-box;
  width: 100%;
  margin: auto;
  line-height: 22px;
  color: $dark;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-auto-rows: auto;
  grid-gap: 0;

  .btn {
    margin: 30px auto auto auto;
  }
  
}

.resume-org {
  grid-column: 1;
  font-size: $copySize;
  font-weight: 700;
  text-transform: uppercase;
  color: $medium;
  letter-spacing: 1px;
  word-spacing: 1px;
  margin-bottom: 3px;
}

.resume-dates {
  grid-column: 2;
  font-size: $copySize;
  color: $medium;
  text-align: right;
}

.resume-role {
  grid-column: 1 / span 2;
  font-size: $copySize;
  font-style: italic;
}

.resume-list {
  grid-column: 1;
  font-size: $copySize;
  line-height: 25px;

  ul {
    padding-left: 20px;
  }

  li {
    line-height: 25px;
    padding-bottom: 5px;
    list-style-type: disc;

    li {
      list-style-type: circle;
    }
  }

}

.resume-btn-center {
  grid-column: 1/ span 2;
  justify-self: center;
}

.resume-list:last-child {
  margin-bottom: 0;
}

.resume-role + .resume-list {
  margin-top: 5px;
}

.resume-list + .resume-org {
  margin-top: 8px;
}