// ----------------------------------------------------------------------------
// Home
// ----------------------------------------------------------------------------
@media all and (max-width: 560px ){
  .beginText{
    font-size: 22px;
  }
}

// ----------------------------------------------------------------------------
// Resume
// ----------------------------------------------------------------------------
@media all and (min-width: 1400px){
  .resume-container {
    margin: 30px 100px 60px auto;
  }

  .resume-sidebar {
    margin-right: 10%;
  }
}

// Tablet
@media all and (max-width:$tablet-width){
  .resume-sidebar {
    display: none;
  }

  .resume-content {
    grid-column: 1;
  }

  .resume-container {
    grid-gap: 0;
    grid-template-columns: 100%;
    margin: 30px auto 30px auto;
  }

  .resume-section-container {
    grid-template-columns: 1fr;
  }

  #resume-back-to-top {
    display: block;
  }

  .resume-org {
    margin-bottom: 0px;
  }

  .resume-dates {
    text-align: left;
    grid-column: 1;
  }

}

// Mobile
@media all and (max-width: $mobile-width){
  .resume-list {
    grid-column: 1 / span 2;
  }

}

// ----------------------------------------------------------------------------
// Projects
// ----------------------------------------------------------------------------

// Tablet
@media all and (max-width:$tablet-width){
  // .proj-container {
  //   grid-template-columns: repeat(1, 1fr);
  // }

  // .proj-img {
  //   width: 100%;
  // }

  .proj-btn-link-container {
    grid-template-columns: auto;
  }

  .github-btn-left {
    margin: auto;
  }

  .demo-btn-right {
    grid-column: 1;
    margin: auto auto 30px auto;
  }

  .proj-pg-btn {
    width: 70%;
  }
}

// ----------------------------------------------------------------------------
// Photography
// ----------------------------------------------------------------------------
@media all and (max-width: $tablet-width){
  .photo-container {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .photo-item {
    height: 300px;
  }
}

@media all and (max-width: $mobile-width){
  .photo-container {
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
  }
  .photo-item {
    height: 250px;
  }
}

// ----------------------------------------------------------------------------
// Contact
// ----------------------------------------------------------------------------
@media all and (max-width: $mobile-width){
  .form-grid-container {
    grid-template-rows: auto auto auto auto;
  }

  .form-name {
    grid-column: 1 / span 2;
  }

  .form-email {
    grid-row: 2;
    grid-column: 1 / span 2;
  }

  .form-msg {
    grid-row: 3;
  }

  .form-submit {
    grid-row: 4;
  }
}

// ----------------------------------------------------------------------------
// Contact Form Submit Successful
// ----------------------------------------------------------------------------
@media all and (max-width: $mobile-width){
  .large-centered {
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 35px;
  }

  .reg-centered {
    font-size: 18px;
    line-height: 25px;
  }
}