<header>
  <h1>Stephanie Yip</h1>
  <nav>

    <div class = "icon-nav">
      <i class="fas fa-bars" id = "menu-icon"></i>
    </div>

    <div class = "text-nav">
      <ul>{% for item in site.data.nav %}
        <li><a href = "{{ item.link }}" {% if item.name == page.title %} class = "active" {% endif %}>{{ item.name }}</a></li>
        {% endfor %}</ul>
    </div>
  </nav>

  <div id = "icon-nav-links">
    <ul>{% for item in site.data.nav %}
      <li><a href = "{{ item.link }}" {% if item.name == page.title %} class = "active" {% endif %}>{{ item.name }}</a></li>
      {% endfor %}</ul>
  </div>

</header>
