<div class = "resume-section-container" id = "education">

  <div class = "resume-section-title">Education</div>

  <!-- Education -->
  {% for item in site.data.resume_sections.education %}
    <div class = "resume-org">{{ item.org }}</div>
    <div class = "resume-dates">{{ item.dates }}</div>
    <div class = "resume-role">{{ item.role }}</div>
  {% endfor %}

  <!-- Honors -->
  <div class = "resume-list-title">Honors</div>
  <div class = "resume-list">
    <ul>
      <li>Graduated <i>cum laude</i></li>

      <li>Selected to be a member of the engineering honor societies:

        <ul>
          <li>
            <a href = "https://www.tbp.org/home.cfm" target = "_blank">Tau Beta Pi</a>
            (Top fifth of class among all engineering majors)
          </li>

          <li>
            <a href = "https://hkn.ieee.org/" target = "_blank">IEEE HKN</a>
            (Top third of class in electrical and computer engineering)
          </li>
        </ul>

      </li>
    </ul>
  </div>

  <!-- Coursework -->
  {% for list in site.data.resume_education_lists %}
    <div class = "resume-list-title">{{ list.name }}</div>
    <div class = "resume-list">
      {% for entry in list.bullets %}
        {{entry.item}}{% if forloop.last == false %}, {% endif %}
      {% endfor %}
    </div>
  {% endfor %}

</div>
