<div class = "resume-section-container" id = "work">

  <div class = "resume-section-title">Work Experience</div>

  {% for entry in site.data.resume_work %}
  <div class = "resume-org">{{ entry.org }}</div>
  <div class = "resume-dates">{{ entry.dates }}</div>
  <div class = "resume-role">{{ entry.role }}</div>
  <div class = "resume-list">
    <ul>
      {% for description in entry.description %}
      <li>{{ description.item }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}

</div>
