<div class = "resume-section-container" id = "projects">

  <div class = "resume-section-title">Projects</div>

  {% for proj in site.data.resume_projects %}
  <div class = "resume-org">{{ proj.title }}</div>
  <div class = "resume-dates">{{ proj.dates }}</div>
  {% if proj.class %}
  <div class = "resume-role">{{ proj.class }}</div>
  {% endif %}
    <div class = "resume-list">
      <ul>
        {% for entry in proj.description%}
        <li>{{ entry.item }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}

</div>
