---
title: Projects
permalink: /projects/
layout: default
jumbotron: jumbotron-projects
---

{% for item in site.data.projects %}
  <div class = "proj-title">{{ item.title }}</div>

  <div class = "proj-subtitle">{{ item.subtitle }}</div>

  {% if item.img %}
  <img src = "{{ site.url }}/assets/img/projects/{{ item.img }}" class = "proj-img" id = "proj-{{ item.label }}" alt = "{{ item.title }}"></img>
  {% endif %}
  
  <a href = "{{ site.url }}/projects/{{ item.label }}.html" class = "proj-btn" role = "button">See Details <i class="fas fa-arrow-right"></i></a>

  {% if forloop.last == false %}
  <div class = "line"></div>
  {% endif %}
{% endfor %}
